<section id="general" class="flex-container flex--column">
  <h2 class="title-section"><span>General</span></h2>
  <p class="text">
    TaxiGO ofrece un servicio para gestionar tus envíos de forma inmediata, utilizando la flota de taxis existente en Montevideo y Area Metropolitana.
    <br/>
    De manera muy fácil y económica podes solicitar el envío de un paquete o compra realizada en una tienda de e-comerce al lugar que tu indiques, en el horario que desees. 
    <br/>
    La aplicación te conecta con el taxi más cercano a tu ubicación de inicio, una vez que tu aceptes el viaje,  en minutos tenés el taxi para retirar el envio y trasladarlo en forma inmediata.
  </p>
  <ul class="list-general">
    <li></li>
    <li></li>
  </ul>
</section>
<article class="dividers" data-parallax="scroll" data-image-src="assets/images/divider-01.jpg">
  <img src="assets/images/idea.svg" alt="" class="idea-icon">
  <h3>Rapidez, Simplicidad, Seguridad y Trazabilidad de tus envios.<br><br>
  <b>Que estas esperando para <br>registrarte y empezar a usarlo</b></h3>
</article>
