#general {
  padding-top: 120px;
  padding-bottom: 50px;

  .text {
    text-align: center;
    max-width: 992px;
    margin: 0 auto 40px;
  }

  .list-general {
    padding: 0;
    list-style: none;
    margin: 0;
    text-align: center;

    li {
      display: inline-block;
      background-color: $white;
      width: 300px;
      height: 300px;
      margin: 20px;
      @include border-radius(40px);
      @include box-shadow(0, 0, 10px, rgba(0,0,0,0.2));

      &:nth-child(1){
        background: url('/assets/images/logo-2.jpg') no-repeat center;
      }

      &:nth-child(2){
        background: url('/assets/images/map.jpg') no-repeat center;
      }
    }
  }

  @media (max-width: 768px){
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
