nav {
  font-family: 'Montserrat', sans-serif;
  @include transition(all, 0.2s);
  z-index: 100;

  .navbar-brand {
    padding: 0;
    margin-left: 0 !important;

    svg {
      @include transition(all, 0.2s);
      height: 100%;
    }

    @media (min-width: 768px) {
      &.svg--white {
        svg {
          * {
            fill: $white;
          }
        }
      }
    }
  }

  &.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 20px 0;

    @media (max-width: 768px) {
      background-color: $white;
    }

    .navbar-nav {
      &.center-nav {
        text-align: center;

        @media (min-width: 768px){
          float: none;
          margin: 0 auto;
          display: table;
          table-layout: fixed;

          > li {
            float: none;
            display: inline-block;
          }
        }
      }

      > li > a {
        color: #fff;

        &:hover {
          text-decoration: underline;
          color: $white;
        }

        @media (min-width: 768px){
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }

      &.navbar-right {
        @media (min-width: 768px){
          margin-right: 0;
        }

        > li {
          > a {
            color: $white;
            border: 2px solid $orange-dark;

            &.btn-login {
              cursor: pointer;
              @include border-radius(30px 0 0 30px);

              &:hover {
                background-color: darken($orange-dark, 2%);
                border-color: darken($orange-dark, 2%);
              }
            }

            &.btn-user-loged {
              background-color: $orange-dark;
              padding: 10px 15px 0 20px;
              height: 44px;
              color: $white;
              font-size: 18px;
              @include border-radius(30px 0 0 30px);

              &:hover {
                background-color: darken($orange-dark, 2%);
                border-color: darken($orange-dark, 2%);
              }
            }

            &.btn-salir {
              cursor: pointer;
              @include border-radius(0 30px 30px 0);

              &:hover {
                background-color: darken($orange-dark, 2%);
                border-color: darken($orange-dark, 2%);
              }
            }
            &:hover {
              text-decoration: none;
            }
          }

          .btn-register {
            padding: 10px 15px;
            color: $white;
            border: 2px solid $orange-dark;
            background-color: $orange-dark;
            @include border-radius(0 30px 30px 0);

            &:hover {
              background-color: darken($orange-dark, 2%);
              border-color: darken($orange-dark, 2%);
            }
          }
        }
      }
    }

    .navbar-toggle {
      border: none;

      &.collapsed {
        .icon-bar {
          &:nth-child(2) {
            @include rotate(0);
            @include transform-origin(10% 10%);
          }

          &:nth-child(4) {
            @include rotate(0);
            @include transform-origin(10% 90%);
          }

          &:nth-child(3){
            opacity: 1;
          }
        }
      }

      &:focus,
      &:hover {
        background-color: transparent;
      }

      .icon-bar {
        @include transition(all, 0.2s);

        &:nth-child(2) {
          @include rotate(45);
          @include transform-origin(10% 10%);
        }

        &:nth-child(4) {
          @include rotate(-45);
          @include transform-origin(10% 90%);
        }

        &:nth-child(3){
          opacity: 0;
        }
      }
    }

    @media (max-width: 768px){
      .navbar-collapse {
        background-color: $white;
        margin-top: 20px;

        .navbar-nav {
          margin-left: 0;
          margin-right: 0;

          > li {
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }

            > a {
              color: $orange-dark;
              text-align: center;

              &.btn-login {
                @include border-radius(30px);
              }

              &.btn-salir {
                @include border-radius(30px);
              }

              &.btn-register {
                color: $white;
                @include border-radius(30px);
              }
            }
          }
        }
      }
    }

    .navbar-toggle {
      .icon-bar {
        background-color: $orange-light;
      }
    }
  }

  &.nav--colored {
    background-color: $white;
    @include box-shadow(2px, 0, 3px, rgba(0,0,0,0.2));

    .navbar-nav > li > a {
      color: $gray-text;

      &:hover {
        color: $orange-light;
        text-decoration: none;
      }

      &.btn-login {
        color: $orange-dark;

        &:hover {
          color: $white
        }
      }

      &.btn-salir {
        color: $orange-dark;

        &:hover {
          color: $white
        }
      }
    }
  }
}


/* remove outer padding */
.main {
  /* Add gap to nav and right windows.*/
  padding: 25px 25px 0 25px;

  .row {
    padding: 0px;
    margin: 0px;
  }
}

nav {
  &.sidebar{
    position: fixed;
    
    &.navbar {
      background: #fff;
      border: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      border-radius: 0px;

      a {
        color: $gray-dark;

        .glyphicon {
          color: $orange;
        }
      }

      .navbar-toggle .icon-bar {
        background: $gray-dark;
      }

      .navbar-brand {
        height: auto;
        padding: 15px 15px;

        svg {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}



nav.sidebar,
.main {
  -webkit-transition: margin 200ms ease-out;
     -moz-transition: margin 200ms ease-out;
       -o-transition: margin 200ms ease-out;
          transition: margin 200ms ease-out;
}
/* .....NavBar: Icon only with coloring/layout.....*/
/*small/medium side display*/

@media (min-width: 768px) {
  /*Allow main to be next to Nav*/
  .main {
    position: absolute;
    width: calc(100% - 40px);

    /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

  /*lets nav bar to be showed on mouseover*/
  nav.sidebar:hover+.main {
    margin-left: 200px;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;

    svg {
      max-width: 100%;
    }
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand,
  nav.sidebar .navbar-header {
    text-align: center;
    width: 100%;
    margin-left: 0px;

  }

  /*Center Icons*/
  nav.sidebar a {
    padding-right: 13px;
  }


  /*adds border to bottom nav boxes*/
  nav.sidebar .navbar-nav>li {
    border-bottom: 1px darken($gray-light, 2%) solid;
  }

  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
  }

  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  /*gives sidebar width/height*/
  nav.sidebar {
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar:hover {
    margin-left: 0px;
  }
  /*for hiden things when navbar hidden*/
  .forAnimate {
    opacity: 0;
  }
}
/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 992px) {

  /*Allow main to be next to Nav*/
  .main {
    width: calc(100% - 200px);
    /*keeps 100% minus nav size*/
    margin-left: 200px;
  }

  /*Show all nav*/
  nav.sidebar {
    margin-left: 0px;
    float: left;
  }
  /*Show hidden items on nav*/
  nav.sidebar .forAnimate {
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate {
  opacity: 1;
}
