<!-- <section id="seller" class="flex-container">
  <div class="flex_item info">
    <h2 class="title-section title--invert"><span>Solicitante</span></h2>
    <div id="seller-carousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#seller-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#seller-carousel" data-slide-to="1"></li>
        <li data-target="#seller-carousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-caption">
            <h2>Te registras</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Cargas Dinero</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Solicitas un envío</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Te lo entregamos</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Califica tu traslado</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Rastrea y gestiona tus envíos</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex_item image image--right"></div>
</section> -->
<section id="how-works">
  <h2 class="title-section"><span>COMO FUNCIONA</span></h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="sub-title">Para solicitar un envio <br>
          <small>Las personas solicitan un envio a traves de un taxi </small>
        </h3>
        <ul>
          <li>
            <div class="circle"><img src="assets/images/icon-note.svg" alt=""></div>
            <p class="item-title">TE REGISTRAS</p>
            <p class="item-text">Puedes registrarte con tu mail o mediante una cuenta de google o Facebook.</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-money.svg" alt=""></div>
            <p class="item-title">CARGAS DINERO</p>
            <p class="item-text">Haces una transferencia bancaria a tu cuenta. De ahí te debitamos el importe del envio</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-position.svg" alt=""></div>
            <p class="item-title">SOLICITAS UN ENVIO</p>
            <p class="item-text">Poner mapa de Montevideo, inicio – destino – calcular</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-flag.svg" alt=""></div>
            <p class="item-title">TE LO ENTREGAMOS</p>
            <p class="item-text">En el lugar destino en el horario establecido</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-bookmark.svg" alt=""></div>
            <p class="item-title">CALIFICA TU TRASLADO</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 class="sub-title">
          Realizar el envio <br>
          <small>Los taxistas se ofrecen para realizar el transporte</small>
        </h3>
        <ul>
          <li>
            <div class="circle"><img src="assets/images/icon-note.svg" alt=""></div>
            <p class="item-title">TE REGISTRAS</p>
            <p class="item-text">Puedes registrarte con tu mail o mediante una cuenta de google o Facebook.</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-directional.svg" alt=""></div>
            <p class="item-title">DISPONIBLE PARA REALIZAR ENVIOS</p>
            <p class="item-text">&nbsp;</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-notification.svg" alt=""></div>
            <p class="item-title">TE LLEGAN NOTIFICACIONES DE SOLICITUDES DE ENVIO</p>
            <p class="item-text">Poner mapa de Montevideo coordenadas de inicio y destino</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-placeholder.svg" alt=""></div>
            <p class="item-title">ACEPTAS EL ENVIO</p>
            <p class="item-text">&nbsp;</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-cab.svg" alt=""></div>
            <p class="item-title">RETIRAR EL ENVIO</p>
            <p class="item-text">En el lugar origen en el horario establecido</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-cab.svg" alt=""></div>
            <p class="item-title">ENTREGAR DEL ENVIO</p>
            <p class="item-text">En el lugar destino en el horario establecido</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-bookmark.svg" alt=""></div>
            <p class="item-title">SOLICITAR CALIFICACIÓN</p>
            <p class="item-text">&nbsp;</p>
          </li>
          <li>
            <div class="circle"><img src="assets/images/icon-profits.svg" alt=""></div>
            <p class="item-title">ACREDITAR PAGO DEL ENVIO EN TU CUENTA</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<article class="dividers" id="how-pay" data-parallax="scroll" data-image-src="assets/images/divider-01.jpg">
  <h2 class="title-section title--invert"><span>COMO PAGAR</span></h2>
  <img src="assets/images/icon-wallet.svg" alt="" class="wallet-icon">
  <h3>Hacemos simple tu vida. Pedí y pagá desde el celular. <br>
    Con paganza o transferencia bancaria cargamos tu cuenta, de ahi debitamos el importe de tu envio.</h3>
</article>
