<app-private-menu></app-private-menu>

<div class="main">
  <form novalidate [formGroup]="basicForm" >
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs custom-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#basic-data" aria-controls="basic-data" role="tab" data-toggle="tab">Datos b&aacute;sicos</a>
        </li>
        <li role="presentation">
          <a href="#chofer" aria-controls="chofer" role="tab" data-toggle="tab">Chofer</a>
        </li>
        <li role="presentation">
          <a href="#owner" aria-controls="owner" role="tab" data-toggle="tab">Dueño</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content custom-tabs-content">
        <div role="tabpanel" class="tab-pane active" id="basic-data">
          <div class="panel-body">
            <div class="panel">
              <div class="panel-heading">Personales</div>
              <div class="panel-body">
                <fieldset formGroupName="name">
                  <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Ingrese su nombre">
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['name'].controls.firstName.errors &&
                            (basicForm.controls['name'].controls.firstName.dirty ||
                            basicForm.controls['name'].controls.firstName.touched)">
                      <p *ngIf="basicForm.controls['name'].controls.firstName.errors.required">
                        Por favor ingrese su nombre
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" formControlName="lastName" class="form-control"
                            id="lastName"
                            placeholder="Ingrese su apellido">
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['name'].controls.lastName.errors &&
                            (basicForm.controls['name'].controls.lastName.dirty ||
                            basicForm.controls['name'].controls.lastName.touched)">
                      <p *ngIf="basicForm.controls['name'].controls.lastName.errors.required">
                        Por favor ingrese su apellido
                      </p>
                    </div>
                  </div>
                </fieldset>
                <fieldset formGroupName="documentId">
                  <div class="form-group">
                    <label for="idType">Tipo de documento</label>
                    <select name="idType" formControlName="idType" class="form-control">
                        <option *ngFor="let prf of allIdTypes" [ngValue]="prf">
                            {{ prf }}
                        </option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['documentId'].controls.idType.errors && 
                            (basicForm.controls['documentId'].controls.idType.dirty || 
                            basicForm.controls['documentId'].controls.idType.touched)">
                      <p *ngIf="basicForm.controls['documentId'].controls.idType.errors.required">
                        Por favor ingrese su documento
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="idNumber">Documento</label>
                    <input type="text" formControlName="idNumber" class="form-control"
                            id="idNumber"
                            placeholder="Ingrese su documento sin puntos ni guión">
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['documentId'].controls.idNumber.errors && 
                            (basicForm.controls['documentId'].controls.idNumber.dirty || 
                            basicForm.controls['documentId'].controls.idNumber.touched)">
                      <p *ngIf="basicForm.controls['documentId'].controls.idNumber.errors.required">
                        Por favor ingrese su documento
                      </p>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group">
                  <label for="email">Correo electr&oacute;nico</label>
                  <input type="email" formControlName="email" class="form-control"
                          id="email"
                          placeholder="Ingrese un correo electr&oacute;nico de contacto">
                  <div class="alert alert-danger"
                    *ngIf="basicForm.controls['email'].errors &&
                          (basicForm.controls['email'].dirty ||
                          basicForm.controls['email'].touched)">
                    <p *ngIf="basicForm.controls['email'].errors.required">
                      Por favor ingrese su correo electr&oacute;nico
                    </p>
                    <p *ngIf="basicForm.controls['email'].errors.pattern">
                        Por favor ingrese un correo electr&oacute;nico v&aacute;lido
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contactPhone">Tel&eacute;fono de contacto</label>
                  <input type="text" formControlName="contactPhone" class="form-control"
                          id="contactPhone"
                          placeholder="Ingrese su tel&eacute;fono de contacto">
                  <div class="alert alert-danger"
                    *ngIf="basicForm.controls['contactPhone'].errors &&
                          (basicForm.controls['contactPhone'].dirty ||
                          basicForm.controls['contactPhone'].touched)">
                    <p *ngIf="basicForm.controls['contactPhone'].errors.required">
                      Por favor ingrese su tel&eacute;fono de contacto
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading">Direcciones</div>
              <div class="panel-body">
                <ul formArrayName="warehouses" class="list-group">
                  <li class="list-group-item"
                      *ngFor="let item of basicForm.controls['warehouses'].controls; let i = index"
                      [formGroupName]="i">
                    <div class="form-group">
                      <label for="address">Direcci&oacute;n</label>
                      <input type="text" formControlName="address" class="form-control"
                              id="address"
                              placeholder="Ingrese la direcci&oacute;n">
                    </div>
                    <div class="form-group">
                      <label for="firstCorner">Esquina</label>
                      <input type="text" formControlName="firstCorner" class="form-control"
                              id="firstCorner"
                              placeholder="Ingrese la esquina">
                    </div>
                    <div class="form-group">
                      <label for="secondCorner">Esquina</label>
                      <input type="text" formControlName="secondCorner" class="form-control"
                              id="secondCorner"
                              placeholder="Ingrese la esquina">
                    </div>
                    <button type="button" title="Eliminar Dep&oacute;sito" (click)="onRemoveVendorWarehouse(i)">Eliminar</button>
                  </li>
                </ul>
                <button type="button" (click)="onAddVendorWarehouse()">
                  Agregar un dep&oacute;sito
                </button>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="chofer">
          <div class="panel-body">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="isDriver" value="">
                Soy chofer
              </label>
            </div>
            <div class="panel">
              <div class="panel-heading">Coches que manejo</div>
              <div class="panel-body">
                <ul formArrayName="driverCars" class="list-group">
                  <li class="list-group-item"
                      *ngFor="let item of basicForm.controls['driverCars'].controls; let i = index"
                      [formGroupName]="i">
                    <div class="form-group">
                      <label for="plate">Matr&iacute;cula</label>
                      <input type="text" formControlName="plate" class="form-control"
                              id="plate"
                              placeholder="Ingrese la matr&iacute;cula">
                    </div>
                    <div class="form-group">
                      <label for="brand">Marca</label>
                      <input type="text" formControlName="brand" class="form-control"
                              id="brand"
                              placeholder="Ingrese la marca">
                    </div>
                    <div class="form-group">
                      <label for="model">Modelo</label>
                      <input type="text" formControlName="model" class="form-control"
                              id="model"
                              placeholder="Ingrese el modelo">
                    </div>
                    <div class="form-group">
                      <label for="year">A&ntilde;o</label>
                      <input type="text" formControlName="year" class="form-control"
                              id="year"
                              placeholder="Ingrese el a&ntilde;o">
                    </div>
                    <button type="button" title="Eliminar Coche" (click)="onRemoveDriverCar(i)">Eliminar</button>
                  </li>
                </ul>
                <button type="button" (click)="onAddDriverCar()">
                  Agregar un coche
                </button>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="owner">
          <div class="panel-body">
            <div class="panel">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="isOwner" value="">
                  Soy dueño
                </label>
              </div>
              <div class="panel-heading">Coches de mi propiedad</div>
              <div class="panel-body">
                <ul formArrayName="ownerCars" class="list-group">
                  <li class="list-group-item"
                      *ngFor="let item of basicForm.controls['ownerCars'].controls; let i = index"
                      [formGroupName]="i">
                  <div class="form-group">
                    <label for="plate">Matr&iacute;cula</label>
                    <input type="text" formControlName="plate" class="form-control"
                            id="plate"
                            placeholder="Ingrese la matr&iacute;cula">
                  </div>
                  <div class="form-group">
                    <label for="brand">Marca</label>
                    <input type="text" formControlName="brand" class="form-control"
                            id="brand"
                            placeholder="Ingrese la marca">
                  </div>
                  <div class="form-group">
                    <label for="model">Modelo</label>
                    <input type="text" formControlName="model" class="form-control"
                            id="model"
                            placeholder="Ingrese el modelo">
                  </div>
                  <div class="form-group">
                    <label for="year">A&ntilde;o</label>
                    <input type="text" formControlName="year" class="form-control"
                            id="year"
                            placeholder="Ingrese el a&ntilde;o">
                  </div>
                  <button type="button" title="Eliminar Coche" (click)="onRemoveOwnerCar(i)">Eliminar</button>
                  </li>
                </ul>
                <button type="button" (click)="onAddOwnerCar()">
                  Agregar un coche
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-success" (click)='saveProfile()'>Guardar</button>
  </form>
</div>
