<div class="col-md-2">
  <app-private-menu></app-private-menu>
</div>
<div class="col-md-10">
  <form novalidate [formGroup]="basicForm">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Datos b&aacute;sicos
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="panel panel-default">
              <div class="panel-heading">Personales</div>
              <div class="panel-body">
                <fieldset formGroupName="name"> 
                  <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" formControlName="firstName" class="form-control" 
                            id="firstName"
                            placeholder="Ingrese su nombre">
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['name'].controls.firstName.errors && 
                            (basicForm.controls['name'].controls.firstName.dirty || 
                            basicForm.controls['name'].controls.firstName.touched)">
                      <p *ngIf="basicForm.controls['name'].controls.firstName.errors.required">
                        Por favor ingrese su nombre
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" formControlName="lastName" class="form-control" 
                            id="lastName"
                            placeholder="Ingrese su apellido">
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['name'].controls.lastName.errors && 
                            (basicForm.controls['name'].controls.lastName.dirty || 
                            basicForm.controls['name'].controls.lastName.touched)">
                      <p *ngIf="basicForm.controls['name'].controls.lastName.errors.required">
                        Por favor ingrese su apellido
                      </p>
                    </div>
                  </div>
                </fieldset>
                <fieldset formGroupName="document">
                  <div class="form-group">
                    <label for="idType">Tipo de documento</label>
                    <select name="idType" formControlName="idType" class="form-control">
                        <option *ngFor="let prf of allIdTypes" [ngValue]="prf">
                            {{ prf.description }}
                        </option>
                    </select> 
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['document'].controls.idType.errors && 
                            (basicForm.controls['document'].controls.idType.dirty || 
                            basicForm.controls['document'].controls.idType.touched)">
                      <p *ngIf="basicForm.controls['document'].controls.idType.errors.required">
                        Por favor ingrese su documento
                      </p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="idNumber">Documento</label>
                    <input type="text" formControlName="idNumber" class="form-control" 
                            id="idNumber" 
                            placeholder="Ingrese su documento sin puntos ni guión">
                    <div class="alert alert-danger"
                      *ngIf="basicForm.controls['document'].controls.idNumber.errors && 
                            (basicForm.controls['document'].controls.idNumber.dirty || 
                            basicForm.controls['document'].controls.idNumber.touched)">
                      <p *ngIf="basicForm.controls['document'].controls.idNumber.errors.required">
                        Por favor ingrese su documento
                      </p>
                    </div>
                  </div>
                </fieldset>
                <div class="form-group">
                  <label for="email">Correo electr&oacute;nico</label>
                  <input type="email" formControlName="email" class="form-control" 
                          id="email" 
                          placeholder="Ingrese un correo electr&oacute;nico de contacto">
                  <div class="alert alert-danger"
                    *ngIf="basicForm.controls['email'].errors && 
                          (basicForm.controls['email'].dirty || 
                          basicForm.controls['email'].touched)">
                    <p *ngIf="basicForm.controls['email'].errors.required">
                      Por favor ingrese su correo electr&oacute;nico
                    </p>
                    <p *ngIf="basicForm.controls['email'].errors.pattern">
                        Por favor ingrese un correo electr&oacute;nico v&aacute;lido
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="contactPhone">Tel&eacute;fono de contacto</label>
                  <input type="text" formControlName="contactPhone" class="form-control" 
                          id="contactPhone"
                          placeholder="Ingrese su tel&eacute;fono de contacto">
                  <div class="alert alert-danger"
                    *ngIf="basicForm.controls['contactPhone'].errors && 
                          (basicForm.controls['contactPhone'].dirty || 
                          basicForm.controls['contactPhone'].touched)">
                    <p *ngIf="basicForm.controls['contactPhone'].errors.required">
                      Por favor ingrese su tel&eacute;fono de contacto
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Direcciones</div>
              <div class="panel-body">
                <ul formArrayName="warehouses" class="list-group">
                  <li class="list-group-item"
                      *ngFor="let item of basicForm.controls['warehouses'].controls; let i = index" 
                      [formGroupName]="i">
                    <div class="form-group">
                      <label for="address">Direcci&oacute;n</label>
                      <input type="text" formControlName="address" class="form-control" 
                              id="address"
                              placeholder="Ingrese la direcci&oacute;n">
                    </div>
                    <div class="form-group">
                      <label for="firstCorner">Esquina</label>
                      <input type="text" formControlName="firstCorner" class="form-control" 
                              id="firstCorner"
                              placeholder="Ingrese la esquina">
                    </div>
                    <div class="form-group">
                      <label for="secondCorner">Esquina</label>
                      <input type="text" formControlName="secondCorner" class="form-control" 
                              id="secondCorner"
                              placeholder="Ingrese la esquina">
                    </div>
                    <button type="button" title="Eliminar Dep&oacute;sito" (click)="onRemoveVendorWarehouse(i)">Eliminar</button>
                  </li>
                </ul>
                <button type="button" (click)="onAddVendorWarehouse()">
                  Agregar un dep&oacute;sito
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Chofer
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="isDriver" value="">
                  Soy chofer
                </label>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Coches que manejo</div>
                <div class="panel-body">
                  <ul formArrayName="driverCars" class="list-group">
                    <li class="list-group-item"
                        *ngFor="let item of basicForm.controls['driverCars'].controls; let i = index" 
                        [formGroupName]="i">
                      <div class="form-group">
                        <label for="plate">Matr&iacute;cula</label>
                        <input type="text" formControlName="plate" class="form-control" 
                                id="plate"
                                placeholder="Ingrese la matr&iacute;cula">
                      </div>
                      <div class="form-group">
                        <label for="brand">Marca</label>
                        <input type="text" formControlName="brand" class="form-control" 
                                id="brand"
                                placeholder="Ingrese la marca">
                      </div>
                      <div class="form-group">
                        <label for="model">Modelo</label>
                        <input type="text" formControlName="model" class="form-control" 
                                id="model"
                                placeholder="Ingrese el modelo">
                      </div>
                      <div class="form-group">
                        <label for="year">A&ntilde;o</label>
                        <input type="text" formControlName="year" class="form-control" 
                                id="year"
                                placeholder="Ingrese el a&ntilde;o">
                      </div>
                      <button type="button" title="Eliminar Coche" (click)="onRemoveDriverCar(i)">Eliminar</button>
                    </li>
                  </ul>
                  <button type="button" (click)="onAddDriverCar()">
                    Agregar un coche
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Dueño
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="isOwner" value="">
                  Soy dueño
                </label>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">Coches de mi propiedad</div>
                <div class="panel-body">
                  <ul formArrayName="ownerCars" class="list-group">
                    <li class="list-group-item"
                        *ngFor="let item of basicForm.controls['ownerCars'].controls; let i = index" 
                        [formGroupName]="i">
                    <div class="form-group">
                      <label for="plate">Matr&iacute;cula</label>
                      <input type="text" formControlName="plate" class="form-control" 
                              id="plate"
                              placeholder="Ingrese la matr&iacute;cula">
                    </div>
                    <div class="form-group">
                      <label for="brand">Marca</label>
                      <input type="text" formControlName="brand" class="form-control" 
                              id="brand"
                              placeholder="Ingrese la marca">
                    </div>
                    <div class="form-group">
                      <label for="model">Modelo</label>
                      <input type="text" formControlName="model" class="form-control" 
                              id="model"
                              placeholder="Ingrese el modelo">
                    </div>
                    <div class="form-group">
                      <label for="year">A&ntilde;o</label>
                      <input type="text" formControlName="year" class="form-control" 
                              id="year"
                              placeholder="Ingrese el a&ntilde;o">
                    </div>
                    <button type="button" title="Eliminar Coche" (click)="onRemoveOwnerCar(i)">Eliminar</button>
                  </li>
                </ul>
                <button type="button" (click)="onAddOwnerCar()">
                  Agregar un coche
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </form>
  <pre>{{basicForm.value | json}}</pre>
</div>
