<footer>
  <h4><a href="#">TERMINOS Y CONDICIONES</a></h4>
  <div class="btn-group btn-group-sm" role="group">
    <a href="#" target="_blank" class="btn btn-default"><i class="fa fa-twitter"></i></a>
    <a href="#" target="_blank" class="btn btn-default"><i class="fa fa-facebook"></i></a>
    <a href="#" target="_blank" class="btn btn-default"><i class="fa fa-google-plus"></i></a>
    <a href="#" target="_blank" class="btn btn-default"><i class="fa fa-linkedin"></i></a>
  </div>
  <h4>© 2017 <span>TaxiGO</span>. Todos los derechos reservados.</h4>
</footer>
