<section id="about-us" class="">
  <h2 class="title-section"><span>General</span></h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo-about"></div>
      </div>
      <div class="col-sm-8">
        <p class="text">
          Estamos innovando y revolucionando en la forma de enviar paquetes de un punto a otro. Utilizamos la flota de taxis existente para enviar lo que solicites en forma inmediata. Brindamos una experiencia de uso f&aacute;cil y segura. Utilizamos tecnolog&iacute;a que nos permite rastrear el paquete en tiempo real de manera que en todo momento puedes ver d&oacute;nde est&aacute; y el estado de tu env&iacute;o. Sabemos qui&eacute;n lo lleva y por donde est&aacute; en todo momento. <br><br>
          Nuestro sistema lleva registro de todos los choferes y tu puedes calificar la calidad de tu env&iacute;o. <br><br>
          El sistema est&aacute; dise&ntilde;ado para gestionar env&iacute;os C2C, B2C, C2B, B2B, de una variedad de sectores como consumo masivo, salud & belleza, electr&oacute;nica, industria, farma, moda, ocio, tecnolog&iacute;a, hogar & jard&iacute;n y servicios financieros.
        </p>
      </div>
      <div class="col-xs-12">
        <h3 class="text-legend">Rapidez, Simplicidad, Seguridad y Trazabilidad de tus env&iacute;os</h3>
      </div>
    </div>
  </div>
</section>
<article class="dividers" data-parallax="scroll" data-image-src="assets/images/divider-02.jpg">
  <img src="assets/images/icon-map.svg" alt="" class="route-icon">
  <h3 class="darken"><b>Podes conocer el estado de tu env&iacute;o en todo momento.</b></h3>
</article>
