<section id="home" class="flex-container flex--column" data-parallax="scroll" data-image-src="assets/images/home.jpg">
  <h2>Revolucionamos el mundo de los envíos urbanos</h2>
  <h3>TaxiGO una solución rápida, sencilla y confiable para tus envios.</h3>
  <h3>Un taxi trasladará en forma inmediata tu envio, rápido , sencillo, barato y rastreable en tiempo real.</h3>
  <form class="form-inline">
    <div class="input-group">
      <span class="input-group-addon" id="addon-marker"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Punto de partida" aria-describedby="addon-marker">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="addon-flag"><i class="fa fa-flag" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Destino" aria-describedby="addon-flag">
    </div>
    <button type="submit" class="btn btn-default">CALCULAR</button>
  </form>
</section>

