<!-- <section id="delivery" class="flex-container flex--reverse">
  <div class="flex_item info">
    <h2 class="title-section"><span>Encargado del traslado</span></h2>
    <div id="seller-carousel" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#seller-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#seller-carousel" data-slide-to="1"></li>
        <li data-target="#seller-carousel" data-slide-to="2"></li>
      </ol>


      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="carousel-caption">
            <h2>Te registras</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Aceptas el envío</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Retirar el envío</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Trasladar el envío</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Entregar el envío</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="item">
          <div class="carousel-caption">
            <h2>Solicita calificación y recibirás tu dinero</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="flex_item image image--right"></div>
</section> -->

<section id="contact">
  <h2 class="title-section"><span>Contacto</span></h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <ul>
          <li>
            <img src="assets/images/icon-phone.png" alt="">
            <p>TELÉFONO <br>
            <small>0000 0000</small></p>
          </li>
          <li>
            <img src="assets/images/icon-location.png" alt="">
            <p>DIRECCIÓN <br>
            <small>Calle 0000 of. 000</small></p>
          </li>
          <li>
            <img src="assets/images/icon-contact.png" alt="">
            <p>EMAIL <br>
            <small>info@taxigo.uy</small></p>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <form>
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phone" placeholder="Teléfono">
            </div>

            <div class="form-group">
              <textarea name="name" rows="8" cols="80" class="form-control"></textarea>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-default">Enviar</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
