<!-- Modal Login -->
<div class="modal fade" #loginModal id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content login">
      <div class="modal-body text-center">
        <h4>Seleccione el método</h4>
        <button id='closeLoginModal' type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <firebase-ui (signInSuccess)="successCallback($event)"></firebase-ui>
      </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
